@using LAHJA.Them
<div style="position:relative">

        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="/ai-robot-2.png" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold text-body-emphasis">LAHJA AI</h1>
            <div class="col-lg-6 mx-auto">
                <p class=" mb-4">

               LAHJA AI هو إطار متقدم يعتمد على تقنيات الذكاء الاصطناعي لتوليد الكلام من النصوص.
                تعتمد جميع النماذج على بنية VITS، التي تتيح توليد موجات صوتية واقعية بناءً على المدخلات النصية.
                النماذج تحتوي على محولات لتحليل النص وتوليد الكلام بناءً على خصائص الصوت المحلية لكل لهجة.


            </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                
                <MudChip T="string" Variant="Variant.Outlined"  Icon="@Icons.Custom.Brands.MudBlazor" Label="true" Color="@AppColors.BASE_COLOR_ENUM">Lahja ai</MudChip>
                <MudChip T="string" Variant="Variant.Outlined"  Icon="@Icons.Custom.Brands.Twitter" Label="true" Color="@AppColors.BASE_COLOR_ENUM">begin</MudChip>


                     </div>
            </div>
        </div>
      

    </div>

@code {

}
