@using LAHJA.UI.Components.ProFile.Charts
<div class="d-flex p-2 flex-wrap justify-content-around align-items-start">


    <div class="mt-4" />
    <LineChart />

    <div class="mt-5" />
    <TimeSeriesChart />

    <BarChart />

    <div class="mt-4" />
    <PieChart />
    <DonutChart />
  
</div>



@code {

}
