@using LAHJA.UI.Components.ProFile.Charts
<h3>Dashboard</h3>
<div class="d-flex bg-blue flex-wrap justify-content-around align-items-center">
    <BarChart />
    <TimeSeriesChart />
    <PieChart />
    <LineChart />
    <DonutChart />
</div>



@code {

}
