@page "/"
@using LAHJA.UI.Components
@using LAHJA.UI.Components.FAQ
@using LAHJA.UI.Components.Icon
@using LAHJA.UI.Components.Icon.ServicisCard
@using LAHJA.UI.Components.Index
@using LAHJA.UI.Templates.CategoriesPlan
@using LAHJA.UI.Templates.Plans
<CardStart />
<CardShowExperience  />

 @* <HeroHome /> *@
<HeroHome />
 <CardAsgr /> 
 

<AnmCard />

<NumberCard />

<br />
<div class="d-flex flex-column  justify-content-center align-items-center" style="padding:5% !important" >
<MudText Typo="Typo.h3">
   خدماتنا المتقدمة 

</MudText>  
    <p> إستكشف حلولنا المبتكرة التي نقدمها لك من خلال ثلاث خدمات رئيسية، تم تصميمها لتلبية احتياجاتك بطريقة سهلة وفعّالة </p>
<div class="d-flex my-5  flex-wrap">
 <TemplateCategoriesPlan  />
 </div>
 </div>


<br />
<div class="d-flex flex-column p-2 p-sm-5  justify-content-center align-items-center" style="padding:5% !important" >
<MudText Typo="Typo.h3">
    اختر خطتك المثالية

</MudText>
<p> ابدأ بثقة كاملة. ضمان استرداد رسوم التسجيل لمدة 30 يومًا يعني تجربة بدون مخاطر.</p>
<div class="d-flex my-5 p-2  flex-wrap">
   
    <TemplatePlans CountItemsShow="4" />
</div>
</div>
<Mainicon/>
<TestimonialsHome />

<VideoSectionHome />

<TestimonialCard />

<FAQComponent />
 @* <SectionSercicis/> *@


<Footer />
