@page "/"
@using LAHJA.UI.Components
@using LAHJA.UI.Components.Icon
@using LAHJA.UI.Components.Icon.ServicisCard
@using LAHJA.UI.Components.Index
@using LAHJA.UI.Templates.CategoriesPlan
@using LAHJA.UI.Templates.Plans
<CardStart />

 @* <HeroHome /> *@
<HeroHome/>
<CardAsgr />

<BoosCard />

<AnmCard />

<NumberCard />
<div class="d-flex flex-wrap">
<TemplateCategoriesPlan  />
</div>
<Mainicon/>
<TestimonialsHome />
<CardShowExperience />
<VideoSectionHome />

<TestimonialCard />
<FeatureCard />
<SectionSercicis/>
<Footer />
