@page "/"
@using LAHJA.UI.Components
@using LAHJA.UI.Components.Icon
@using LAHJA.UI.Components.Icon.ServicisCard
@using LAHJA.UI.Components.Index
@using LAHJA.UI.Templates.CategoriesPlan
@using LAHJA.UI.Templates.Plans
<CardStart />
<CardShowExperience />

 @* <HeroHome /> *@
<HeroHome/>
 <CardAsgr /> 
 

<AnmCard />

<NumberCard />

<br />
@* <div class="d-flex my-5 flex-wrap">
<TemplateCategoriesPlan  />
</div> *@

<br />
<div class="d-flex my-5  flex-wrap">
    <TemplatePlans CountItemsShow="3" />
</div>

<Mainicon/>
<TestimonialsHome />

<VideoSectionHome />

<TestimonialCard />
<FeatureCard />
<SectionSercicis/>
<Footer />
